html,
body {
  height: 100%;
}

body {
  background: #fff4d3;
  text-align: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  width: 100%;
  margin: 20px auto;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

#container {
  display: inline-block;
  vertical-align: middle;
}

.book {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 50%;
  top: 8%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: auto;
  width: 30em;
  height: 40em;
}

.book .side {
  width: 3em;
  height: 40em;
  background: #2162a2;
  position: absolute;
  left: -3em;
  top: 0;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotateY(-90deg) rotateX(0deg);
          transform: rotateY(-90deg) rotateX(0deg);
}

.book .bottom {
  width: 28em;
  height: 3em;
  background: #e2e2e2;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.book.open {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.book .paper,
.book .shadow {
  width: 28em;
  height: 40em;
  position: absolute;
  top: 0;
  left: 0;
}

.book .paper {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.book .paper.open {
  -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
}

.book .paper.open:nth-child(1),
.page-14 {
  -webkit-box-shadow: 0.5em 1em 3em 0.5em #ccc3a9;
          box-shadow: 0.5em 1em 3em 0.5em #ccc3a9;
}

.book .paper .page.front {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 2;
}

.book .page {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

.book .page-1 .page.front:after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(160, 115, 115, 0.1);
}

.open-pdf {
  z-index: 100;
  width: 2rem;
  height: 2rem;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.book .paper .back {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  color: #fff;
}

.book .open.page-2 .back {
  -webkit-transform: translateZ(-2px);
          transform: translateZ(-2px);
}

.book .open.page-3 .back {
  -webkit-transform: translateZ(-3px);
          transform: translateZ(-3px);
}

.book .open.page-4 .back {
  -webkit-transform: translateZ(-4px);
          transform: translateZ(-4px);
}

.book .open.page-5 .back {
  -webkit-transform: translateZ(-5px);
          transform: translateZ(-5px);
}

.book .open.page-6 .back {
  -webkit-transform: translateZ(-6px);
          transform: translateZ(-6px);
}

.book .open.page-7 .back {
  -webkit-transform: translateZ(-7px);
          transform: translateZ(-7px);
}

.book .open.page-8 .back {
  -webkit-transform: translateZ(-8px);
          transform: translateZ(-8px);
}

.book .open.page-9 .back {
  -webkit-transform: translateZ(-9px);
          transform: translateZ(-9px);
}

.book .open.page-10 .back {
  -webkit-transform: translateZ(-10px);
          transform: translateZ(-10px);
}

.book .open.page-11 .back {
  -webkit-transform: translateZ(-11px);
          transform: translateZ(-11px);
}

.book .open.page-12 .back {
  -webkit-transform: translateZ(-12px);
          transform: translateZ(-12px);
}

.book .open.page-13 .back {
  -webkit-transform: translateZ(-13px);
          transform: translateZ(-13px);
}

.book .open.page-14 .back {
  -webkit-transform: translateZ(-14px);
          transform: translateZ(-14px);
}

.book .paper.page-1 {
  z-index: 11;
}

.book .paper.page-2 {
  z-index: 12;
}

.book .paper.page-3 {
  z-index: 13;
}

.book .paper.page-4 {
  z-index: 14;
}

.book .paper.page-5 {
  z-index: 15;
}

.book .paper.page-6 {
  z-index: 16;
}

.book .paper.page-7 {
  z-index: 17;
}

.book .paper.page-8 {
  z-index: 18;
}

.book .paper.page-9 {
  z-index: 19;
}

.book .paper.page-10 {
  z-index: 20;
}

.book .paper.page-11 {
  z-index: 21;
}

.book .paper.page-12 {
  z-index: 22;
}

.book .paper.page-13 {
  z-index: 23;
}

.book .paper.page-14 {
  z-index: 24;
}

.book .page-1 .front {
  -webkit-transform: translateZ(1.9px);
          transform: translateZ(1.9px);
}

.book .page-2 .front {
  -webkit-transform: translateZ(1.8px);
          transform: translateZ(1.8px);
}

.book .page-3 .front {
  -webkit-transform: translateZ(1.7px);
          transform: translateZ(1.7px);
}

.book .page-4 .front {
  -webkit-transform: translateZ(1.6px);
          transform: translateZ(1.6px);
}

.book .page-5 .front {
  -webkit-transform: translateZ(1.5px);
          transform: translateZ(1.5px);
}

.book .page-6 .front {
  -webkit-transform: translateZ(1.4px);
          transform: translateZ(1.4px);
}

.book .page-7 .front {
  -webkit-transform: translateZ(1.3px);
          transform: translateZ(1.3px);
}

.book .page-8 .front {
  -webkit-transform: translateZ(1.2px);
          transform: translateZ(1.2px);
}

.book .page-9 .front {
  -webkit-transform: translateZ(1.1px);
          transform: translateZ(1.1px);
}

.book .page-10 .front {
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

.book .page-11 .front {
  -webkit-transform: translateZ(0.9px);
          transform: translateZ(0.9px);
}

.book .page-12 .front {
  -webkit-transform: translateZ(0.8px);
          transform: translateZ(0.8px);
}

.book .page-13 .front {
  -webkit-transform: translateZ(0.7px);
          transform: translateZ(0.7px);
}

.book .page-14 .front {
  -webkit-transform: translateZ(0.6px);
          transform: translateZ(0.6px);
}

.teams-page-1 {
  background-image: url("../img/teams-paper-1.png");
  background-size: cover;
}

.teams-page-2 {
  background-image: url("../img/teams-paper-2-r.png");
  background-size: cover;
}

.teams-page-3 {
  background-image: url("../img/teams-paper-3.png");
  background-size: cover;
}

.teams-page-4 {
  background-image: url("../img/teams-paper-4-r.png");
  background-size: cover;
}

.teams-page-5 {
  background-image: url("../img/teams-paper-5.png");
  background-size: cover;
}

.teams-page-6 {
  background-image: url("../img/teams-paper-6-r.png");
  background-size: cover;
}

.teams-page-7 {
  background-image: url("../img/teams-paper-7.png");
  background-size: cover;
}

.teams-page-8 {
  background-image: url("../img/teams-paper-8-r.png");
  background-size: cover;
}

.teams-page-9 {
  background-image: url("../img/teams-paper-9.png");
  background-size: cover;
}

.teams-page-10 {
  background-image: url("../img/teams-paper-10-r.png");
  background-size: cover;
}

.teams-page-11 {
  background-image: url("../img/teams-paper-11.png");
  background-size: cover;
}

.teams-page-12 {
  background-image: url("../img/teams-paper-12-r.png");
  background-size: cover;
}

.teams-page-13 {
  background-image: url("../img/teams-paper-13.png");
  background-size: cover;
}

.teams-page-14 {
  background-image: url("../img/teams-paper-14-r.png");
  background-size: cover;
}

.teams-page-15 {
  background-image: url("../img/teams-paper-15.png");
  background-size: cover;
}

.teams-page-16 {
  background-image: url("../img/teams-paper-16-r.png");
  background-size: cover;
}

.teams-page-17 {
  background-image: url("../img/teams-paper-17.png");
  background-size: cover;
}

.teams-page-18 {
  background-image: url("../img/teams-paper-18-r.png");
  background-size: cover;
}

.teams-page-19 {
  background-image: url("../img/teams-paper-19.png");
  background-size: cover;
}

.teams-page-20 {
  background-image: url("../img/teams-paper-20-r.png");
  background-size: cover;
}

.teams-page-21 {
  background-image: url("../img/teams-paper-21.png");
  background-size: cover;
}

.teams-page-22 {
  background-image: url("../img/teams-paper-22-r.png");
  background-size: cover;
}

.teams-page-23 {
  background-image: url("../img/teams-paper-23.png");
  background-size: cover;
}

.teams-page-24 {
  background-image: url("../img/teams-paper-24-r.png");
  background-size: cover;
}

.teams-page-25 {
  background-image: url("../img/teams-paper-25.png");
  background-size: cover;
}

.teams-page-26 {
  background-image: url("../img/teams-paper-26-r.png");
  background-size: cover;
}

.teams-page-27 {
  background-image: url("../img/teams-paper-27.png");
  background-size: cover;
}

.teams-page-28 {
  background-image: url("../img/teams-paper-28-r.png");
  background-size: cover;
}